* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
body {
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(120deg, black, #171e31);
}
html {
    scroll-behavior: smooth;
}
.seta {
    position: fixed;
    bottom: 14px;
    right: 22px;
    z-index: 3px;
}
.img-seta {
    width: 6rem;
}
header {
width: 100%;
height: 15rem;
display: flex;
align-items: center;
position: fixed;
background: #000;
}
.navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    
}
.navigation a {
    text-decoration: none;
    color: white;
}
.img-linkedin, .img-github {
    width: 6rem;
}
.navigation .border {
    position: relative;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}
.navigation .border::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation .border:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.bolhas {
    position: absolute;
    display: flex;
}
.bolhas span {
    width: 30px;
    height: 30px;
    background: #fff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #fff7,
    0 0 50px #fff,
    0 0 100px #fff;
    animation: animar calc(50s / var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(400vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(0.3);
    }
}
.bolhas span:nth-of-type(even) {
    background: #2691e9;
    box-shadow: 0 0 0 10px #2691e944,
    0 0 50px #2691e9,
    0 0 100px #2691e9;
}
#first-page {
    width: 100%;
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 10rem;
    margin-top: 35rem;
}
.container1 p {
    font-size: 5rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.container1 p span.typed-text {
    font-weight: normal;
    color: #2691e9;
  }
  .container1 p span.cursor {
    display: inline-block;
    background-color: #2691e9;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container1 p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #2691e9; }
    49% { background-color: #2691e9; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #2691e9; }
  }
  .btn-contact {
    margin-top: 30rem;
    margin-left: 12rem;
}
.contact {
    width: 34rem;
    height: 8rem;
    border-radius: 0.5rem;
    background:transparent;
    border: 2px solid #2691e9;
    transition: .5s;
}
.contact :active {
    background: #fff;
}
.text-btn {
    color: #2691e9;
    text-decoration: none;
    font-size: 3rem;
}
.presentation {
    width: 100%;
    min-height: 100vh;
}
#about {
    width: 100%;
    height:  100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.tittle2{
    font-size: 4rem;
    padding-top: 18rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
}
.p2 {
    color: white;
    padding: 1rem 0 1rem 0;
    
    text-align: left;
}
.text-me {
    font-size: 4rem;
    width: 90%;
    margin-left: 3.5rem;
    text-align: center;
    padding: 1rem 0 2rem 0;
}
.image {
    width: 60rem;
    border-radius: 2rem;
}
#skills {
    width: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-content: space-evenly;
 }
 .tittle-skills {
    color: white;
    font-size: 5rem;
    font-family: 'Montserrat';
    text-align: center;
} 
.section-buttons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
#btn-img-js, #btn-img-react, #btn-img-html, #btn-img-css{
    border: transparent;
    background: transparent;

}
.img-js, .img-react, .img-html, .img-css {
    border-radius: 1rem;
    width: 18rem;
    margin: 0 0 40rem 0;
    transform: scale(1.1);
    transition: 1s infinite;
}