* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #1a1919;
}
.container {
    width: 100%;
    min-height: 100vh;
}
#container-nav {
    width: 10%;
    height: 100%;
    background-color: #222222;
    position: fixed; 
}
.menu {
    text-align: center;
    padding-top: 150%;
    font-size: 1.2rem; 
}
.menu:hover {
    cursor: pointer;
}
 .border1, .border2, .border3, .border4 {
    border: solid 1px #302f2f;
    padding: 1.2rem;
} 
.border1 a:hover, .border2 a:hover, .border3 a:hover, .border4 a:hover {
    text-transform: uppercase;
    color: #ffffffb9;
}
.container-social {
    padding-top: 10rem;
}
.social{
    display: flex;
    justify-content: space-between;
}
.ldn1, .face1, .insta1, .gh1 {
    width: 38px;
}
li, a, ul{
    color: rgb(160, 152, 152);
    list-style: none;
    text-decoration: none;
}
#first-page {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-image: url(../imgs/first-img.png);
    background-repeat: no-repeat;
    background-position:450% 170% ;
}


.tittle1 {
    padding-left: 14rem;
    font-size: 6rem;
    
}
.tags{
    padding: 2rem 0 0 10rem;
}
.tags2 {
    padding-left: 10rem;
}
.tags1 {
    padding-left: 62rem;
}

.tags3{
    padding-left: 31rem;
}
.tags, .tags1, .tags2, .tags3 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.1rem;
    opacity: 50%;
}

.p1 {
    padding-left: 14rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    opacity: 60%;
}
#button {
    padding-top: 1rem;
    padding-left: 18rem;
}
.text-btn {
    color: rgb(155, 155, 221);
    font-size: 1rem;
}
.btn {
    opacity: 80%;
    background-color: #1a1919;
    padding: 1rem 5rem;
    border-radius: 0.2rem;
    border: rgb(155, 155, 221) solid 0.1rem;
}
.text-btn:hover{
    text-transform: uppercase;
}
.btn:hover {
    cursor: pointer;
}
#presentation {
    width: 100%;
    min-height: 100vh;
}
#about {
    width: 80%;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.me-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.image {
    width: 65%;
    border-radius: 1.2rem;
}
.text-me{
    width: 60%;
    padding-top: 1rem;
    color: white;
    padding-right: 5rem;
    font-size: 1.5rem;
}
.tittle2 {
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
}
.p2 {
    padding-top: 1rem;
    text-align: left;
}
.tittle3{
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
}
.skills-img {
    image-rendering: optimizeQuality;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.img-js, .img-rc, .img-html, .img-css {
    width: 150px;
    cursor: pointer;
}