* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
background-image: linear-gradient(90deg, black, #221133);
}
.container-buttons {
    display: flex;
    justify-content: center;
}
dialog {
    width: 60%;
    height: 60%;
    padding: auto;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.541);
    border: #1a1919;
    background-color: #dbdada13;
}
#btn-img-js{
    border: #1a1919;
    background-color: black;
}
.img-js:hover {
    width: 6rem;
    cursor: pointer;
    box-shadow:  0 0 2rem rgba(245, 245, 245, 0.479);
}
.img-js {
    border-radius: 0.5
    
}
.btn-fechar {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: end;
}
#fechar-modal {
    background-color: #dbdada00;
    border: none;
}
.img-btn{
    width: 1.5rem;
}
.img-btn:hover {
    cursor: pointer;
    width: 1.4rem;
}
.tittle-modal {
    font-family: 'Montserrat';
    text-shadow: 0 0 1rem rgb(255, 255, 0);
    font-size: 4rem;
    text-align: center;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.795);
}
.paragrafo-modal{
    text-align:center;
    font-size: 1.7rem;
    padding: 0 1rem;
    font-family: 'Montserrat';
    color: rgb(199, 184, 184);
}